.formControl div * {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background: #ffffff !important;
  outline: none;
  font-size: 17px;
  font-family: Tahoma;
  resize: none;
  overflow-y: hidden;
}

.formControl input {
  height: 25px;
}

.formControl input:focus {
  color: #000000;
  border: 1px solid #2ab587;
}

input[type="checkbox"] {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

.formControl textarea {
  height: 150px;
  width: 90%;
  overflow-y: scroll;
}

.formControl textarea:focus {
  color: #000000;
  border: 1px solid #2ab587;
}

.formControl.error input,
.formControl.error textarea {
  border: solid red 1px;
}

.formControl.error span {
  color: red;
}
